@import "./utils/colors.css";
.App {
  background-color: var(--secondary-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-wrapper {
  display: flex;
  min-height: calc(100vh - 171px);
  margin-top: 20px;
}
.mobile-size-wrapper {
  flex-direction: column;
  margin-top: 0px;
}
.popular-leagues {
  margin-right: 40px;
  margin-left: 150px;
  text-transform: uppercase;
}
